<%- include('../partials/header') %> <% games.forEach(g => { %>
<section id="gameCards" class="card">
  <div><%= g.title %></div>
  <div>Genre: <%= g.genre %></div>
  <div>Release Date: <%= g.releaseDate.toDateString() %></div>
  <div><a href="/games/<%= g._id %>">DETAILS</a></div>
</section>
<% }) %> <%- include('../partials/footer') %>
